<SpaceItem>
    <div style="display: flex; align-items: center; height: 32px;">
        <Icon Type="@IconType.Outline.Home" style="font-size: 18px;" />
    </div>
</SpaceItem>
@*                 <SpaceItem>
                    <Badge Count="3">
                        <Icon Type="bell" style="font-size: 18px;" />
                    </Badge>
                </SpaceItem> *@
<SpaceItem>
    <div style="display: flex; align-items: center; height: 32px;">
        <BlaScaf.Components.Shared.FullScreenToggle />
    </div>
</SpaceItem>
<SpaceItem>
    <div style="display: flex; align-items: center; height: 32px;">
        <Dropdown>
            <Overlay>
                <Menu>
                    <MenuItem @key="0">
                        <Icon Type="@IconType.Outline.Setting" />修改密码
                    </MenuItem>
                    <MenuDivider />
                    <MenuItem @key="2">
                        <Icon Type="@IconType.Outline.Logout" />退出登录
                    </MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" style="display: flex; align-items: center; height: 32px;">
                    <Icon Type="@IconType.Outline.User" style="font-size: 18px; margin-right: 4px;" /> Admin
                </a>
            </ChildContent>
        </Dropdown>
    </div>
</SpaceItem>