<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script>
        window.fullscreen = {
            isFullscreen: false,
            init: function () {
                document.addEventListener('fullscreenchange', () => {
                    this.isFullscreen = !!document.fullscreenElement;
                });
            },
            toggle: function () {
                if (!document.fullscreenElement) {
                    document.documentElement.requestFullscreen();
                } else {
                    document.exitFullscreen();
                }
            },
            enter: function () {
                if (!document.fullscreenElement) {
                    document.documentElement.requestFullscreen();
                }
            },
            exit: function () {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
            },
            isInFullscreen: function () {
                return !!document.fullscreenElement;
            }
        };
        window.downloadFromBase64 = (base64, mimeType, fileName) => {
               const link = document.createElement("a");
               link.href = `data:${mimeType};base64,${base64}`;
               link.download = fileName;
               link.click();
           };
        window.setTitle = (title) => {
            document.title = title;
        };
    </script>
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <AntContainer @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>